.header {
  background-color: #DEFCFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
  align-items: center;
  height: 30vh;

  @media (max-width: 768px) {
    height: 20vh;
  }
}

.header-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  z-index: 10;
  color: #000000;
}

.header {
  img {
    width: 300px;
    height: auto;
  }

  img.left {
    height: 100%;
    width: auto;

    @media (max-width: 768px) {
      display: none;
    }
  }

  img.right {
    height: 100%;
    width: auto;

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.header-content h1 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: -1rem;
}

.header-content p {
  font-size: 1rem;
}